@font-face {
    font-family: "Aller";
    src: url("../fonts/aller.ttf") format("truetype");
}

@font-face {
    font-family: "Pusab";
    src: url("../fonts/pusab.ttf") format("truetype");
}

body {
    font-family: "Aller", sans-serif;
    margin: 0;
    background-color: #0037ff;
    min-height: 100vh;
    flex-direction: column;
    display: flex
}

header {
    background-color: #ffffff;
    color: #0037ff;
    text-align: center;
    padding: 1em 0;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin: 0;
}

footer {
    background-color: #ffffff;
    color: #0037ff;
    padding: 1em;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    margin-top: auto;
}

main {
    margin-left: 5em;
    margin-right: 5em;
    color: #ffffff;
    margin-top: 5em;
    flex: 1;
}

h1, h2, nav a {
    font-family: "Pusab", sans-serif;
    letter-spacing: 0.5px;
    font-weight: lighter;
}

main h3 {
    font-family: "Aller", sans-serif;
}

hr {
    border: #ffffff 2px solid;
    color: #ffffff;
}
